In [85]:
import pandas as pd

import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [106]:
data=pd.read_excel("rollingsales_manhattan.xls", skiprows=1)

In [109]:
# header=data.iloc[3]
# pd.columns=header
data

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE_PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,2183,1860,1,A4,4844809,2018-05-22
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,2183,1860,1,A4,0,2018-05-23
2,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,390,35,,B1,113 AVENUE C,,...,2,0,2,1218,4764,1899,1,B1,0,2018-04-25
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385,2,,C7,21-23 AVENUE B,,...,12,4,16,4186,10588,1900,2,C7,10350000,2018-09-07
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,389,18,,C1,200 EAST 7TH STREET,,...,18,0,18,2271,10650,1910,2,C1,5000000,2018-09-05
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,390,54,,C3,203 EAST 7TH STREET,,...,4,0,4,1950,5446,2001,2,C3,6250000,2018-05-09
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,390,64,,C4,187 EAST 7TH STREET,,...,8,2,10,1642,5220,1910,2,C4,2400000,2018-05-18
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,392,22,,C4,374 EAST 10TH STREET,,...,17,0,17,4614,20599,1900,2,C4,0,2018-06-28
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,392,27,,C4,384 EAST 10TH STREET,,...,45,0,45,9234,49799,1900,2,C4,0,2018-06-28
9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,392,48,,C1,627 EAST 9TH STREET,,...,35,0,35,9227,43871,1900,2,C1,0,2018-06-28
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,393,47,,C4,377 EAST 10TH,,...,12,0,12,2370,10715,1900,2,C4,954623,2018-06-04
11,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,395,1,,C7,195 AVENUE B,,...,16,2,18,4650,27000,1910,2,C7,0,2018-06-28
12,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,395,3,,C7,199 AVENUE B,,...,23,4,27,7347,14696,1910,2,C7,0,2018-06-28
13,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,32,,C7,30 AVENUE B,,...,16,2,18,1934,8700,1900,2,C7,0,2018-03-05
14,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,32,,C7,30 AVENUE B,,...,16,2,18,1934,8700,1900,2,C7,0,2018-03-05
15,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,33,,C7,28 AVENUE B,,...,16,1,17,1933,8699,1900,2,C7,5000000,2018-03-05
16,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,33,,C7,28 AVENUE B,,...,16,1,17,1933,8699,1900,2,C7,0,2018-03-05
17,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,2,30,4616,18690,1900,2,C7,7906412,2018-03-05
18,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,2,30,4616,18690,1900,2,C7,0,2018-03-05
19,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,400,52,,C4,211 EAST 4TH STREET,,...,8,1,9,1964,5815,1900,2,C4,0,2018-07-27
20,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,54,,C7,207 EAST 4TH STREET,,...,8,3,11,2364,7166,1900,2,C7,3000000,2018-05-18
21,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,61,,C7,193 EAST 4TH STREET,,...,11,1,12,2388,8045,1900,2,C7,7675000,2017-11-13
22,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,402,25,,C4,162 EAST 7TH STREET,,...,14,0,14,2271,6794,1900,2,C4,0,2018-07-01
23,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,26,,C4,164 EAST 7TH STREET,,...,9,1,10,1817,6162,1900,2,C4,0,2018-07-01
24,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,27,,C4,166 EAST 7TH STREET,,...,9,0,9,1817,6150,1900,2,C4,0,2018-07-01
25,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,36,,C4,106 AVENUE B,,...,8,2,10,1919,7810,1900,2,C4,3100000,2018-05-18
26,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,47,,C3,317 EAST 10TH STREET,,...,4,0,4,2369,4100,1900,2,C3,5850000,2018-03-29
27,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,405,9,,C4,502 EAST 12TH STREET,,...,10,0,10,1449,6300,1900,2,C4,0,2018-07-01
28,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,406,27,,C4,544 EAST 13TH STREET,,...,14,0,14,2468,10888,1900,2,C4,1423033,2018-06-04
29,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,406,42,,C7,543-545 EAST 12TH STREET,,...,19,1,20,3622,11951,1900,2,C7,0,2018-09-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16807,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1522,,R4,105 BENNETT AVENUE,32A,...,1,0,1,0,0,1939,2,R4,549450,2018-07-23
16808,1,WASHINGTON HEIGHTS UPPER,21 OFFICE BUILDINGS,4,2163,43,,O2,659 WEST 179 STREET,,...,0,3,3,3333,6000,1900,4,O2,0,2018-02-13
16809,1,WASHINGTON HEIGHTS UPPER,22 STORE BUILDINGS,4,2158,65,,K1,1588 ST NICHOLAS AVENUE,,...,0,4,4,4488,4991,1960,4,K1,2375000,2017-12-29
16810,1,WASHINGTON HEIGHTS UPPER,22 STORE BUILDINGS,4,2170,70,,K2,4468-4474 BROADWAY,,...,0,7,7,10000,20000,1991,4,K2,9150000,2018-02-22
16811,1,WASHINGTON HEIGHTS UPPER,26 OTHER HOTELS,4,2155,26,,H3,505 WEST 181ST STREET,,...,0,53,53,4970,28850,2009,4,H3,20500000,2018-06-29
16812,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2154,18,,G9,552 WEST 182 STREET,,...,0,1,1,1260,1080,1990,4,G9,500000,2018-05-09
16813,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2175,1,,G1,4650 BROADWAY,,...,0,3,3,47175,75000,1928,4,G1,26000000,2018-04-17
16814,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2175,1,,G1,4650 BROADWAY,,...,0,3,3,47175,75000,1928,4,G1,0,2018-10-16
16815,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,153,,V1,203 CABRINI BOULEVARD,,...,0,0,0,1928,0,0,4,V1,3000000,2018-09-04
16816,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,154,,V1,205 CABRINI BOULEVARD,,...,0,0,0,1775,0,0,4,V1,0,2018-09-04
16817,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,155,,V1,207 CABRINI BOULEVARD,,...,0,0,0,1555,0,0,4,V1,0,2018-09-04
16818,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,243,,V1,RIVERSIDE DRIVE,,...,0,0,0,3990,0,0,4,V1,0,2018-08-30
16819,1,WASHINGTON HEIGHTS UPPER,32 HOSPITAL AND HEALTH FACILITIES,4,2152,47,,I9,2414 AMSTERDAM AVENUE,,...,0,3,3,2500,3350,1902,4,I9,1375000,2017-12-08
16820,1,WASHINGTON HEIGHTS UPPER,38 ASYLUMS AND HOMES,4,2154,96,,N9,569 WEST 183RD STREET,,...,0,1,1,1998,2934,1920,4,N9,0,2018-06-29
16821,1,WASHINGTON HEIGHTS UPPER,43 CONDO OFFICE BUILDINGS,4,2164,1077,,RB,160 WADSWORTH AVENUE,105,...,0,0,1,0,0,0,4,RB,0,2018-08-03
16822,1,WASHINGTON HEIGHTS UPPER,44 CONDO PARKING,4,2180,1222,,RG,736 WEST 187 STREET,PRK22,...,0,0,1,0,0,2003,4,RG,0,2018-09-13
16823,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1001,,RK,4260 BROADWAY,COMM1,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16824,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1002,,RK,4260 BROADWAY,COMM2,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16825,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1003,,RK,4260 BROADWAY,COMM3,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16826,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1004,,RK,4260 BROADWAY,COMM4,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16827,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1005,,RK,4260 BROADWAY,COMM5,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16828,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1006,,RK,4260 BROADWAY,COMM6,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16829,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1007,,RK,4260 BROADWAY,COMM7,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16830,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1008,,RK,4260 BROADWAY,COMM8,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16831,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1009,,RK,4260 BROADWAY,COMM9,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16832,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1010,,RK,4260 BROADWAY,COM10,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16833,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1011,,RK,4260 BROADWAY,COM11,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16834,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1012,,RK,4260 BROADWAY,COM12,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16835,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1013,,RK,4260 BROADWAY,COM13,...,0,0,1,0,0,0,4,RK,0,2018-08-03
16836,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1014,,RK,4260 BROADWAY,COM14,...,0,0,1,0,0,0,4,RK,0,2018-08-03

In [93]:
data.info()
data.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16838 entries, 0 to 16837
Data columns (total 21 columns):
BOROUGH                           16838 non-null object
NEIGHBORHOOD                      16838 non-null object
BUILDING CLASS CATEGORY           16838 non-null object
TAX CLASS AT PRESENT              16838 non-null object
BLOCK                             16838 non-null object
LOT                               16838 non-null object
EASE-MENT                         16838 non-null object
BUILDING CLASS AT PRESENT         16838 non-null object
ADDRESS                           16838 non-null object
APARTMENT NUMBER                  16838 non-null object
ZIP CODE                          16838 non-null object
RESIDENTIAL UNITS                 16838 non-null object
COMMERCIAL UNITS                  16838 non-null object
TOTAL UNITS                       16838 non-null object
LAND SQUARE FEET                  16838 non-null object
GROSS SQUARE FEET                 16838 non-null object
YEAR BUILT                        16838 non-null object
TAX CLASS AT TIME OF SALE         16838 non-null object
BUILDING CLASS AT TIME OF SALE    16838 non-null object
SALE_PRICE                        16838 non-null object
SALE DATE                         16838 non-null object
dtypes: object(21)
memory usage: 2.7+ MB

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE_PRICE,SALE DATE
0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE_PRICE,SALE DATE
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,2183,1860,1,A4,4844809,2018-05-22 00:00:00
2,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,2183,1860,1,A4,0,2018-05-23 00:00:00
3,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,390,35,,B1,113 AVENUE C,,...,2,0,2,1218,4764,1899,1,B1,0,2018-04-25 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385,2,,C7,21-23 AVENUE B,,...,12,4,16,4186,10588,1900,2,C7,10350000,2018-09-07 00:00:00
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,389,18,,C1,200 EAST 7TH STREET,,...,18,0,18,2271,10650,1910,2,C1,5000000,2018-09-05 00:00:00
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,390,54,,C3,203 EAST 7TH STREET,,...,4,0,4,1950,5446,2001,2,C3,6250000,2018-05-09 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,390,64,,C4,187 EAST 7TH STREET,,...,8,2,10,1642,5220,1910,2,C4,2400000,2018-05-18 00:00:00
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,392,22,,C4,374 EAST 10TH STREET,,...,17,0,17,4614,20599,1900,2,C4,0,2018-06-28 00:00:00
9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,392,27,,C4,384 EAST 10TH STREET,,...,45,0,45,9234,49799,1900,2,C4,0,2018-06-28 00:00:00
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,392,48,,C1,627 EAST 9TH STREET,,...,35,0,35,9227,43871,1900,2,C1,0,2018-06-28 00:00:00
11,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,393,47,,C4,377 EAST 10TH,,...,12,0,12,2370,10715,1900,2,C4,954623,2018-06-04 00:00:00
12,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,395,1,,C7,195 AVENUE B,,...,16,2,18,4650,27000,1910,2,C7,0,2018-06-28 00:00:00
13,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,395,3,,C7,199 AVENUE B,,...,23,4,27,7347,14696,1910,2,C7,0,2018-06-28 00:00:00
14,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,32,,C7,30 AVENUE B,,...,16,2,18,1934,8700,1900,2,C7,0,2018-03-05 00:00:00
15,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,32,,C7,30 AVENUE B,,...,16,2,18,1934,8700,1900,2,C7,0,2018-03-05 00:00:00
16,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,33,,C7,28 AVENUE B,,...,16,1,17,1933,8699,1900,2,C7,5000000,2018-03-05 00:00:00
17,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,33,,C7,28 AVENUE B,,...,16,1,17,1933,8699,1900,2,C7,0,2018-03-05 00:00:00
18,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,2,30,4616,18690,1900,2,C7,7906412,2018-03-05 00:00:00
19,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,2,30,4616,18690,1900,2,C7,0,2018-03-05 00:00:00
20,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,400,52,,C4,211 EAST 4TH STREET,,...,8,1,9,1964,5815,1900,2,C4,0,2018-07-27 00:00:00
21,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,54,,C7,207 EAST 4TH STREET,,...,8,3,11,2364,7166,1900,2,C7,3000000,2018-05-18 00:00:00
22,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,61,,C7,193 EAST 4TH STREET,,...,11,1,12,2388,8045,1900,2,C7,7675000,2017-11-13 00:00:00
23,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,402,25,,C4,162 EAST 7TH STREET,,...,14,0,14,2271,6794,1900,2,C4,0,2018-07-01 00:00:00
24,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,26,,C4,164 EAST 7TH STREET,,...,9,1,10,1817,6162,1900,2,C4,0,2018-07-01 00:00:00
25,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,27,,C4,166 EAST 7TH STREET,,...,9,0,9,1817,6150,1900,2,C4,0,2018-07-01 00:00:00
26,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,36,,C4,106 AVENUE B,,...,8,2,10,1919,7810,1900,2,C4,3100000,2018-05-18 00:00:00
27,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,47,,C3,317 EAST 10TH STREET,,...,4,0,4,2369,4100,1900,2,C3,5850000,2018-03-29 00:00:00
28,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,405,9,,C4,502 EAST 12TH STREET,,...,10,0,10,1449,6300,1900,2,C4,0,2018-07-01 00:00:00
29,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,406,27,,C4,544 EAST 13TH STREET,,...,14,0,14,2468,10888,1900,2,C4,1423033,2018-06-04 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16808,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1522,,R4,105 BENNETT AVENUE,32A,...,1,0,1,0,0,1939,2,R4,549450,2018-07-23 00:00:00
16809,1,WASHINGTON HEIGHTS UPPER,21 OFFICE BUILDINGS,4,2163,43,,O2,659 WEST 179 STREET,,...,0,3,3,3333,6000,1900,4,O2,0,2018-02-13 00:00:00
16810,1,WASHINGTON HEIGHTS UPPER,22 STORE BUILDINGS,4,2158,65,,K1,1588 ST NICHOLAS AVENUE,,...,0,4,4,4488,4991,1960,4,K1,2375000,2017-12-29 00:00:00
16811,1,WASHINGTON HEIGHTS UPPER,22 STORE BUILDINGS,4,2170,70,,K2,4468-4474 BROADWAY,,...,0,7,7,10000,20000,1991,4,K2,9150000,2018-02-22 00:00:00
16812,1,WASHINGTON HEIGHTS UPPER,26 OTHER HOTELS,4,2155,26,,H3,505 WEST 181ST STREET,,...,0,53,53,4970,28850,2009,4,H3,20500000,2018-06-29 00:00:00
16813,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2154,18,,G9,552 WEST 182 STREET,,...,0,1,1,1260,1080,1990,4,G9,500000,2018-05-09 00:00:00
16814,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2175,1,,G1,4650 BROADWAY,,...,0,3,3,47175,75000,1928,4,G1,26000000,2018-04-17 00:00:00
16815,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2175,1,,G1,4650 BROADWAY,,...,0,3,3,47175,75000,1928,4,G1,0,2018-10-16 00:00:00
16816,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,153,,V1,203 CABRINI BOULEVARD,,...,0,0,0,1928,0,0,4,V1,3000000,2018-09-04 00:00:00
16817,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,154,,V1,205 CABRINI BOULEVARD,,...,0,0,0,1775,0,0,4,V1,0,2018-09-04 00:00:00
16818,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,155,,V1,207 CABRINI BOULEVARD,,...,0,0,0,1555,0,0,4,V1,0,2018-09-04 00:00:00
16819,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,243,,V1,RIVERSIDE DRIVE,,...,0,0,0,3990,0,0,4,V1,0,2018-08-30 00:00:00
16820,1,WASHINGTON HEIGHTS UPPER,32 HOSPITAL AND HEALTH FACILITIES,4,2152,47,,I9,2414 AMSTERDAM AVENUE,,...,0,3,3,2500,3350,1902,4,I9,1375000,2017-12-08 00:00:00
16821,1,WASHINGTON HEIGHTS UPPER,38 ASYLUMS AND HOMES,4,2154,96,,N9,569 WEST 183RD STREET,,...,0,1,1,1998,2934,1920,4,N9,0,2018-06-29 00:00:00
16822,1,WASHINGTON HEIGHTS UPPER,43 CONDO OFFICE BUILDINGS,4,2164,1077,,RB,160 WADSWORTH AVENUE,105,...,0,0,1,0,0,0,4,RB,0,2018-08-03 00:00:00
16823,1,WASHINGTON HEIGHTS UPPER,44 CONDO PARKING,4,2180,1222,,RG,736 WEST 187 STREET,PRK22,...,0,0,1,0,0,2003,4,RG,0,2018-09-13 00:00:00
16824,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1001,,RK,4260 BROADWAY,COMM1,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16825,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1002,,RK,4260 BROADWAY,COMM2,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16826,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1003,,RK,4260 BROADWAY,COMM3,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16827,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1004,,RK,4260 BROADWAY,COMM4,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16828,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1005,,RK,4260 BROADWAY,COMM5,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16829,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1006,,RK,4260 BROADWAY,COMM6,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16830,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1007,,RK,4260 BROADWAY,COMM7,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16831,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1008,,RK,4260 BROADWAY,COMM8,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16832,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1009,,RK,4260 BROADWAY,COMM9,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16833,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1010,,RK,4260 BROADWAY,COM10,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16834,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1011,,RK,4260 BROADWAY,COM11,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16835,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1012,,RK,4260 BROADWAY,COM12,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16836,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1013,,RK,4260 BROADWAY,COM13,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00
16837,1,WASHINGTON HEIGHTS UPPER,46 CONDO STORE BUILDINGS,4,2164,1014,,RK,4260 BROADWAY,COM14,...,0,0,1,0,0,0,4,RK,0,2018-08-03 00:00:00

In [94]:
data = data.drop(0,axis=0)

In [95]:
data.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE_PRICE', 'SALE DATE'],
      dtype='object', name=0)

In [96]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
plt.style.use('fivethirtyeight')

data = data
f = 'SALE_PRICE~BOROUGH'
# f2 = 'SALE PRICE~GROSS SQUARE FEET'
model = smf.ols(formula=f, data=data).fit()
# model2 = smf.ols(formula=f2, data=data).fit()

In [97]:
model = ols(formula=f, data=data).fit()

In [98]:
model.summary()

ValueError: shapes (16837,3959) and (16837,3959) not aligned: 3959 (dim 1) != 16837 (dim 0)

In [ ]:
# data.plot.kde()
# plt.title("Normality check")
# plt.show()